body {
    background: deeppink;
}

.images {
    width: 250px;
    height: 400px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

.exampleImages {
    height: 100%;
    padding: 30px;
    color: black;
    background-color: aliceblue;
}

#header {
    font-family: 'Courier New', Courier, monospace;
}

#label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.output {
    background-color: white;
    border-width: 5px;
    border-color: lightblue;
    border-radius: 20px;
    border-style: dashed;
}

.results {
    margin-top: 10px;
    margin-bottom: 10px;
}