body {
    background:deeppink;
}
.images {
    width: 15%;
    height: auto;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
#exampleImages {
    float: none;
    background: deepskyblue;
    padding: 30px;
    border-radius: 50%;
    color: black;
    box-shadow: 5px 5px 5px grey;
    width: 50%;
}
#header {
    font-family: 'Courier New', Courier, monospace;
}
#label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}